{erl_opts, [debug_info]}.
{deps, [
    {enacl, {git, "https://github.com/jlouis/enacl.git", {ref, "5a48c66"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.2.0"}}}
    ]
}.

{relx, [{release, { lunchcoin, "0.1.0" },
         [lunchcoin,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
